<!--<div class = "navbar">-->
<!--  <div class="left">-->
<!--    <a href="#">-->
<!--      <img class="logo" src="./assets/content/logo/logo.png" alt="">-->
<!--    </a>-->
<!--&lt;!&ndash;    <ul>&ndash;&gt;-->
<!--&lt;!&ndash;      <li>&ndash;&gt;-->
<!--&lt;!&ndash;        <a href="#">Calendar</a>&ndash;&gt;-->
<!--&lt;!&ndash;      </li>&ndash;&gt;-->
<!--&lt;!&ndash;      <li>&ndash;&gt;-->
<!--&lt;!&ndash;        <a href="#">Reports</a>&ndash;&gt;-->
<!--&lt;!&ndash;      </li>&ndash;&gt;-->
<!--&lt;!&ndash;      <li>&ndash;&gt;-->
<!--&lt;!&ndash;        <a href="#">Dashboards</a>&ndash;&gt;-->
<!--&lt;!&ndash;      </li>&ndash;&gt;-->
<!--&lt;!&ndash;    </ul>&ndash;&gt;-->
<!--  </div>-->
<!--  <div class="right">-->

<!--  </div>-->
<!--</div>-->


<div class="navbar navbar-expand-lg navbar-light bg-light header">
  <div class="container-fluid">
    <a routerLink="../mainpage" class="navbar-brand">
      <img class="logo" src="./assets/content/logo/logo.png" alt="">
    </a>
    <div class="mr-5">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink = "../login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink = "../signup">Register</a>
        </li>
        <li class="nav-item dropdown">
          <div ngbDropdown class="d-inline-block">
            <button class="btn" id="dropdownBasic1" ngbDropdownToggle>
              <img class="menu" src="./assets/content/icons/menu.png" alt="Menu">
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <a ngbDropdownItem [href]="'/main-page#aboutUs'">About Us</a>
              <a ngbDropdownItem [href]="'/main-page#opportunities'">Opportunities</a>
              <a ngbDropdownItem [href]="'/main-page#ourFamily'">Our family</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>



