<!--<div class = "navbar">-->
<!--  <div class="left">-->
<!--    <a href="#">-->
<!--      <img class="logo" src="./assets/content/logo/logo.png" alt="">-->
<!--    </a>-->
<!--&lt;!&ndash;    <ul>&ndash;&gt;-->
<!--&lt;!&ndash;      <li>&ndash;&gt;-->
<!--&lt;!&ndash;        <a href="#">Calendar</a>&ndash;&gt;-->
<!--&lt;!&ndash;      </li>&ndash;&gt;-->
<!--&lt;!&ndash;      <li>&ndash;&gt;-->
<!--&lt;!&ndash;        <a href="#">Reports</a>&ndash;&gt;-->
<!--&lt;!&ndash;      </li>&ndash;&gt;-->
<!--&lt;!&ndash;      <li>&ndash;&gt;-->
<!--&lt;!&ndash;        <a href="#">Dashboards</a>&ndash;&gt;-->
<!--&lt;!&ndash;      </li>&ndash;&gt;-->
<!--&lt;!&ndash;    </ul>&ndash;&gt;-->
<!--  </div>-->
<!--  <div class="right">-->

<!--  </div>-->
<!--</div>-->


<div class="header">
  <div class="left-part ml-5">
    <a routerLink="../main-page" class="mr-5">
      <img class="logo" src="./assets/content/logo/logo.png" alt="">
    </a>
    <a class="link-header">Calendar</a>
    <a class="link-header">Reports</a>
    <a class="link-header">Dashboard</a>
  </div>

  <div class="right-part">
    <a class="link-header" routerLink = "../login">Login</a>
    <a class="link-header" routerLink = "../signup">Register</a>

    <div class="nav-item dropdown">
      <div ngbDropdown class="d-inline-block">
        <button class="btn" id="dropdownBasic1" ngbDropdownToggle>
          <img class="menu" src="./assets/content/icons/menu.png" alt="Menu">
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <a ngbDropdownItem [href]="'/main-page#aboutUs'">About Us</a>
          <a ngbDropdownItem [href]="'/main-page#opportunities'">Opportunities</a>
          <a ngbDropdownItem [href]="'/main-page#ourFamily'">Our family</a>
        </div>
      </div>
    </div>
  </div>
</div>



