.registration {
  font-family: Montserrat;
  padding: 50px 0 0;
}
.heading {
  color: #798024;
  /*font-style: underlined;*/
  font-size: 30px;
  text-align: center;
  margin-bottom: 40px;
}
button {
  border: 1px solid #798024;
  padding: 15px 35px;
  background-color: #FFFFFF;
  color: #798024;
}
button:hover{
  background: #FFF5CF;
}
.square {
  border-radius: 0px;
  border: 1px solid #798024;
  background: #FFF5CF;
}
