<div class="report-page">
  <div class="reports">
    <div class="last-reports">
      <img class="icon" src="./assets/content/icons/pdf.png" alt="pdf_icon">
      <h3>Last reports</h3>
    </div>
    <!--ngfor-мен список всех репортов работника-->
    <a>Report_Full_Name_Month.pdf</a>
    <a>Report_Full_Name_Month.pdf</a>
    <a>Report_Full_Name_Month.pdf</a>
    <a>Report_Full_Name_Month.pdf</a>
  </div>
  <div class="report">
    <h1>Report</h1>
    <div class="report-head">
      <a>Download</a>
      <div class="report-data">
        <p>Employee</p>
        <p>position</p>
        <p>period</p>
      </div>
    </div>
    <div class="description">
      <p>
        Hi, my name is Lampbot and I am a computer program that helps me make a Word Map. I know how to count, but I don't understand how your world works yet. Help me figure it out!
      </p>
    </div>
      <div class="kpi">
        <h1>KPI</h1>
    <!--    <table class="kpi-table">-->
    <!--      <tr>-->
    <!--        <th>Mon</th>-->
    <!--        <th>Tue</th>-->
    <!--        <th>Wed</th>-->
    <!--        <th>Thu</th>-->
    <!--        <th>Frid</th>-->
    <!--      </tr>-->
    <!--      <tr>-->
    <!--        <th>Mon</th>-->
    <!--        <th>Tue</th>-->
    <!--        <th>Wed</th>-->
    <!--        <th>Thu</th>-->
    <!--        <th>Frid</th>-->
    <!--      </tr>-->
    <!--    </table>-->
      </div>
    <div class="card-description">
      <p>card-title</p>
      <p>card-create-date, card-modification-date</p>
      <p>card description</p>
      <p>card level</p>
    </div>

    <!--  pdf downloading-->
  </div>

</div>
