<div class="card">
  <div class="card-head">
    <div class="left">
      <p>Username Position Level</p>
    </div>
    <h1>Card title</h1>
    <img class="close" src="./assets/content/icons/close.png">
  </div>
  <div class="card-body">

    <div class="description">
      <p>
        Hi, my name is Lampbot and I am a computer program that helps me make a Word Map. I know how to count, but I don't understand how your world works yet. Help me figure it out!
      </p>
    </div>

    <div class="card-data">
      <p>Employee</p>
      <p>position</p>
      <p>period</p>
    </div>
  </div>
  <div class="card-discussion">
    <div class="comment-input">
      <div class="avatar">
        <img src="./assets/content/icons/avatar.png" alt="">
      </div>
      <input type="text">
    </div>
    <div class="comments">
      <div class="comment">
        <div class="avatar">
          <img src="./assets/content/icons/avatar.png" alt="">
        </div>
        <div class="comment-data">
          <p>Surname Name</p>
          <p>Comment</p>
        </div>
      </div>
    </div>
  </div>
</div>
