<div class = "intro">
  <div class="elements">
    <div class = "leaf">
      <img src="./assets/content/leaf.png" alt="leaf">
    </div>
    <div class="element">
      <img src="./assets/content/element.png" alt="elements">
    </div>

    <div class = "heading" >
      <h1>Manage your time with us</h1>
      <p>time is most valueble resource</p>
    </div>
  </div>
</div>
<div class="opportunity" [id]="'opportunities'">
  <h1>Opportunities</h1>
  <div class="sections">
    <div class = "left">
      <h3>Reports</h3>
      <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est.</p>
      <img class="picture" src="./assets/content/calculator.png" alt="calculator">
    </div>
<!--    <div class="vl"></div>-->
    <div class="center">
      <div class="vl"></div>
      <img src="./assets/content/step1.png" alt="step1">
      <div class="vl"></div>
      <img src="./assets/content/step2.png" alt="step2">
      <div class="vl"></div>
      <img src="./assets/content/step3.png" alt="step3">
      <div class="vl"></div>
    </div>
    <div class = "right">
      <h3>Call</h3>
      <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est.</p>
      <img class="picture" src="./assets/content/call.png" alt="phone">
      <h3>KPI</h3>
      <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est.</p>
    </div>
  </div>
</div>
<div class="aboutus" [id]="'aboutUs'">
  <div class="left">
    <h3>About us</h3>
    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est.</p>
  </div>
  <img class="center picture-laptop" src="./assets/content/laptop.png" alt="laptop">
  <div class="right-end">
    <h3>We are</h3>
    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est.</p>
  </div>
</div>

<div class="our" [id]="'ourFamily'">
  <div class="text">
    <h3>Our community</h3>
    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est.</p>
  </div>

  <div class="content">
    <div class="box">
      <h5>Sed ut perspiciatis</h5>
      <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est.</p>
      <img сlass="step" src="./assets/content/per1.png" alt="step3">
    </div>
    <div class="box">
      <h5>Sed ut perspiciatis</h5>
      <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est.</p>
      <img сlass="step" src="./assets/content/per2.png" alt="step3">
    </div>
    <div class="box">
      <h5>Sed ut perspiciatis</h5>
      <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est.</p>
      <img сlass="step" src="./assets/content/per3.png" alt="step3">
    </div>

  </div>
</div>
