<div class = "intro">
  <div class="elements">
    <div class = "leaf">
      <img src="./assets/content/leaf.png" alt="leaf">
    </div>
    <div class="element">
      <img src="./assets/content/element.png" alt="elements">
    </div>

    <div class = "heading" >
      <h1>Manage your time with us</h1>
      <p>time is most valueble resource</p>
    </div>
  </div>
</div>
<div class="opportunity" [id]="'opportunities'">
  <h1>Opportunities</h1>
  <div class="sections">
    <div class = "left">
      <h3>Reports</h3>
      <p>A report is a document that presents information in an organized format for a specific audience and purpose. Although summaries of reports may be delivered orally, complete reports are almost always in the form of written documents</p>
      <img class="picture" src="./assets/content/calculator.png" alt="calculator">
    </div>
<!--    <div class="vl"></div>-->
    <div class="center">
      <div class="vl"></div>
      <img src="./assets/content/step1.png" alt="step1">
      <div class="vl"></div>
      <img src="./assets/content/step2.png" alt="step2">
      <div class="vl"></div>
      <img src="./assets/content/step3.png" alt="step3">
      <div class="vl"></div>
    </div>
    <div class = "right">
      <h3>Call</h3>
      <p>A call option is a derivatives contract giving the owner the right, but not the obligation, to buy a specified amount of an underlying security at a specified price within a specified time.</p>
      <img class="picture" src="./assets/content/call.png" alt="phone">
      <h3>KPI</h3>
      <p>A key performance indicator (KPI) is a measurable value that demonstrates how effectively a company is achieving key business objectives. Organizations use KPIs to evaluate success at reaching targets. High-level KPIs may focus on the overall performance of the business, while low-level KPIs may focus on processes across departments like sales, marketing, HR, or support.</p>
    </div>
  </div>
</div>
<div class="aboutus" [id]="'aboutUs'">
  <div class="left">
    <h3>About us</h3>
    <p>young IT company with 5 years of experience in the market has about 50 employees consisting of project managers, designers, analysts, developers, testers, devops. Engaged in software development for foreign and domestic companies.</p>
  </div>
  <img class="center picture-laptop" src="./assets/content/laptop.png" alt="laptop">
  <div class="right-end">
    <h3>We are</h3>
    <p>Nowadays, the company is undergoing rebranding and changing the concept by increasing the number of employees and by 2024 it is planned to have 200 developers on staff, not counting other equally important specialists.</p>
  </div>
</div>

<div class="our" [id]="'ourFamily'">
  <div class="text">
    <h3>Our community</h3>
    <p>allows students, employees, and teaching and research staff to perform to the best of their abilities. We aspire to be an open organisation that benefits from all of the expertise present in its community</p>
  </div>

  <div class="content">
    <div class="box">
      <h5>Professionals</h5>
      <p>IT experts working "in the field" at individual faculties, departments and other domains, regular interaction and close collaboration is of great importance. It is this that ensures we can continuously strengthen our customer-oriented approach and guarantee professional maintenance and innovation.</p>
      <img сlass="step" src="./assets/content/per1.png" alt="step3">
    </div>
    <div class="box">
      <h5>Achievers</h5>
      <p>As a professional community, we need to achieve a balance between constant reliability and agile innovation. Together with local IT staff, the central ITS organisation responds to IT needs within the individual faculties, but we also proactively introduce new applications and tools.</p>
      <img сlass="step" src="./assets/content/per2.png" alt="step3">
    </div>
<!--    <div class="box">-->
<!--      <h5>Sed ut perspiciatis</h5>-->
<!--      <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est.</p>-->
<!--      <img сlass="step" src="./assets/content/per3.png" alt="step3">-->
<!--    </div>-->

  </div>
</div>
