<div class="dashboard-page">
  <div class="backlog sprint">
    <h3>Backlog</h3>
    <div class="add-card">
      <div class="icon-action"><img src="./assets/content/icons/user.png" alt=""><label>Add user</label></div>
      <div class="icon-action"><img src="./assets/content/icons/user.png" alt=""><label>priority</label></div>
      <div class="icon-action"><img src="./assets/content/icons/level.png" alt=""><label>Add level</label></div>
      <button>Add card</button>
    </div>
  </div>
  <div class="new sprint">
    <div class="title">
      <h3>New</h3>
    </div>
    <div class="cards">
      <div class="card">
        <p>Card title</p>
        <span>Level</span>
      </div>
    </div>
  </div>
  <div class="in-progress sprint">
    <div class="title">
      <h3>In Progress</h3>
    </div>
    <div class="cards">
      <div class="card">
        <p>Card title</p>
        <span>Level</span>
      </div>
    </div>
  </div>
  <div class="done sprint">
    <div class="title">
      <h3>Done</h3>
    </div>
    <div class="cards">
      <div class="card">
        <p>Card title</p>
        <span>Level</span>
      </div>
    </div>
  </div>
</div>
