<div class="dashboard-page">
  <div class="backlog">
    <h3>Backlog</h3>
    <div class="add-card">
      <label>Add user</label>
      <label>Icons</label>
      <label>Add level</label>
    </div>
    <button>Add card</button>
  </div>
  <div class="new">
    <div class="title">
      <h3>New</h3>
    </div>
    <div class="cards">
      <div class="card">
        <p>Card title</p>
        <span>Level</span>
      </div>
    </div>
  </div>
  <div class="in-progress">
    <div class="title">
      <h3>In Progress</h3>
    </div>
    <div class="cards">
      <div class="card">
        <p>Card title</p>
        <span>Level</span>
      </div>
    </div>
  </div>
  <div class="done">
    <div class="title">
      <h3>Done</h3>
    </div>
    <div class="cards">
      <div class="card">
        <p>Card title</p>
        <span>Level</span>
      </div>
    </div>
  </div>
</div>
